.background {
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

@font-face{
    font-family: myFont;
    color: beige;
    src: url(Cairo.ttf)
}

.waly {
    font-family: Akhenaton;
    font-size: 100px;
    color: goldenrod;
}

.nav-link {
    font-family: Akhenaton;
    font-size: 50px;
    color: goldenrod;
}